<div class="row">
  <div class="col-xs-12">
    <img
      [src]="recipeDetail.imagePath"
      [alt]="recipeDetail.name"
      class="img-responsive"
      style="max-height: 100px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>
      {{ recipeDetail.name }}
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <!--  Кнопки для работы с рецептами - удаление, изменение -->
    <div class="dropdown" (click)="toggle()">
      <button type="button"
              class="btn btn-primary dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="true">
        Manage Recipe
      </button>
      <ul class="dropdown-menu" *ngIf="isOpen" appDropdown>
        <li><a class="dropdown-item" (click)="this.onAddToShoppingList()" >To Shopping List</a></li>
        <li>
          <a 
          class="dropdown-item"
          (click)="onEditRecipe()">Edit Recipe</a></li>
        <li class="dropdown-divider"></li>
        <li><a class="dropdown-item">Delete Recipe</a></li>
      </ul>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ recipeDetail.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipeDetail.ingredients ">
      {{ ingredient.name }} - {{ ingredient. amount }}
      </li>
    </ul>
  </div>
</div>
